<h1 class="px-4 py-4">Javier Norambuena</h1>
<div class="jumbotron">
  <h1 class="display-4">Welcome to my first Rails app</h1>
  <p class="lead">Hope you enjoy the stay</p>
  <hr class="my-4">
  <p>placeholder text.</p>
  <a class="btn btn-primary btn-lg" href="three" role="button">Learn more</a>
</div>